<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>

</head>
<body>
    <h1>Lista de Usuario</h1>

    <ul>
        <% if (Array.isArray(users)) { %>
            <% users.forEach(user => { %>
                <li>
                    <%= user.id %> - <%= user.nombre %> - <%= user.apellido %> - <%= user.correo %> - <%= user.direccion %> - <%= user.numero_telefono %> - 
                    <%= user.fecha_creacion %>
                </li>
            <% }); %>
        <% } else { %>
            <li>No hay usuarios disponibles.</li>
        <% } %>
    </ul>
    <script src="/public/js/app.js"></script>
</body>
</html>